.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  background-color: #f6f6f7;
  border-radius: 20px;
  padding: 20px;
  place-items: center;
}

.productPreview {
  width: 250px;
  color: #002878;
  text-align: center;
}

.productImg {
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

