.productList {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: #f6f6f7;
  border-radius: 20px;
  padding: 20px;
}

.productPreview {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002878;
  text-align: center;
}

.productImg {
  height: auto;
  max-height: 250px;
  object-fit: contain;
}